body{
    background-color: #75B09C;
    text-align: center;
    margin: 0; 
    font-family: 'Bangers', cursive;
    font-size: large;
}

a{
    color: black; 
    font-weight: bold;
}

p, h1{
    font-size: 40px;
    padding: 5%;
}

button{
    text-align: center;
}